body {
  background: #FFFFFF;
  font-family: 'Playfair Display', serif;
  font-size: 1em;
}

#header {
  text-align: center;
}

#logo {
  display: block;
  height: 110px;
  margin: 20px auto;
  width: 200px;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 4em;
  margin: 30px auto 0;
}

.heading {
  color: #91A8D0;
  text-align: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size: 2em;
  margin-top: 35px;
}

hr {
  border: 0;
  border-top: 1px solid #bfc0c1;
  display: block;
  height: 1px;
  margin: 40px auto;
  max-width: 800px;
  padding: 0;
}

p {
  display: block;
  line-height: 120%;
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 900px;
}

em,
strong {
  font-family: 'Raleway', sans-serif;
}

a {
  text-decoration: none;
}

a:not(.active) {
  transition: color .1s ease-in;
}

a.home:link,
a.work:link,
a.contact:link,
a.home:visited,
a.work:visited,
a.contact:visited {
  color: #91A8D0;
}

a.home:hover,
a.work:hover,
a.contact:hover {
  color: #F7CAC9;
}

a:link,
a:visited,
a:hover {
  color: black;
}

span.nav {
  font-weight: bold;
}

#footer {
  bottom: 15px;
  color: grey;
  opacity: 0.2;
  position: relative;
  left: 85%;
}

#header a.active {
  color: lightgrey;
}
