body {
  background: #FFFFFF;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva,
                Verdana, sans-serif;
  font-size: 1em;
  margin: 0;
  margin-top: 80px;
}

h1 {
  font-size: 4em;
  margin-bottom: 5px;
}

h2 {
  font-size: 2em;
  margin-top: 35px;
}

.heading {
  text-align: center;
}

hr {
  border: 0;
  border-top: 1px solid #bfc0c1;
  display: block;
  height: 1px;
  margin: 50px 200px;
  padding: 0;
}

p {
  display: block;
  line-height: 200%;
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 1000px;
}

em {
  font-size: 1.35em;
  font-weight: bold;
}

span {
  float: right;
  margin-right: 6px;
}

/* Navbar */
ul {
  background-color: #FFD500;
  list-style-type: none;
  margin: 0;
  overflow: hidden;
  padding-top: 0px;
  padding-left: 20px;
  position: fixed;
  top: 0;
  width: 100%;
}

/* Standard navbar behavior */
@media screen and (min-width:640px) {
  li {
    float: right;
  }

  /* Logo on navbar left */
  #logo {
    color: black;
    display: block;
    float: left;
    padding: 18px 16px;
    text-align: center;
    text-decoration: none;
  }

  /* Far right navigation tab */
  .end {
    padding-right: 40px;
  }
}

/* Navbar behavior for small windows and mobile devices */
@media screen and (max-width:639px) {
  body {
    margin-top: 0px;
  }

  #content {
    margin: 0px 15px;
  }

  ul {
    position: static;
    padding-left: 0px;
  }

  li {
    display: block;
  }

  #logo {
    text-align: center;
    padding-bottom: 15px;
    padding-top: 20px;
  }
}

li a {
  color: black;
  display: block;
  text-align: center;
  text-decoration: none;
  padding: 18px 16px;
}

li a:hover {
  background-color: #ffec8e;
}

/* Current navigation tab */
.active {
  color: white;
}
