#top p {
  margin-bottom: 45px;
}

.heading {
  text-align: center;
}

img {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
}

/* Image banner */
#photobanner {
  padding: 10px 0px;
  margin-right: 0px;
  margin-left: 0px;
  overflow: scroll;
  white-space:nowrap;
  width: 100%;
}
