body {
  margin-top: 54px;
}

.left {
  background: lightgrey;
  box-shadow: 0 0 8px 0 rgba(0, 0, 0, 0.2), 0 0 20px 0 rgba(0, 0, 0, 0.19);
  /*background-image: url("../img/background2.png");
  background-repeat: no-repeat;
  background-size: contain;*/
  float: left;
  height: 625px;
  width: 850px;
}

.right {
  float: right;
  height: 625px;
  overflow: scroll;
  width: 430px;
}
