div.heading h1 {
  font-size: 3em;
}

div.heading hr {
  margin: 40px 200px;
}


ul.skills {
  list-style-type: none;
}

.section {
  font-size: 1.5em;
}

#profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 0
}

@media screen and (min-width:749px) {
  #profile {
    position: absolute;
    right: 150px;
    top: 233px;
  }

  ul.skills {
    position: relative;
    left: 130px;
  }
}

@media screen and (max-width:750px) {
  #profile {
    display: block;
    margin-left: 100px;
  }

  ul.skills {
    position: static;
  }
}
