<!-- aboutMe.html -->
{% extends "pages/base.html" %}
{% load static %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/aboutMe.css' %}?{% now "U" %}" />
{% endblock %}

{% block title %}Henry{% endblock %}

{% block content %}
  <div class="heading">
    <h1>{{ author.name }}</h1>
    <hr>
  </div>
  <p class="info">
    <strong>Age:</strong> {{ author.age }}<br>
    <strong>Major:</strong> {{ author.major }}<br>
    <

    {{ author.bio }}
  </p>
{% endblock %}
