<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width" />
    <meta name="description" content="This is a personal website designed and built
      using the Django framework by me, Henry Gridley, to showcase my portfolio.
      Check out my resume, my projects and work experiences, or send me an email
      if you want to contact me!" />
    <meta name="keywords" content="Henry,Gridley,Henry Gridley,portfolio" />
    <meta name="robots" content="index,follow" />
    <script type="text/javascript" src="{% static 'pages/js/jquery-3.2.1.min.js' %}"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/css/base.css' %}" />
    <!-- ****** faviconit.com favicons ****** -->
    <!-- Icon is 'Kansas' by anbileru adaleru from the Noun Project -->
    <link rel="shortcut icon" href="{% static 'pages/img/kansas-favicon/favicon.ico' %}" />
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'pages/img/kansas-favicon/favicon.ico' %}" />
    <link rel="icon" type="image/png" sizes="196x196" href="{% static 'pages/img/kansas-favicon/favicon-192.png' %}" />
    <link rel="icon" type="image/png" sizes="160x160" href="{% static 'pages/img/kansas-favicon/favicon-160.png' %}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'pages/img/kansas-favicon/favicon-96.png' %}" />
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'pages/img/kansas-favicon/favicon-64.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'pages/img/kansas-favicon/favicon-32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'pages/img/kansas-favicon/favicon-16.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'pages/img/kansas-favicon/favicon-57.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'pages/img/kansas-favicon/favicon-114.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'pages/img/kansas-favicon/favicon-72.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'pages/img/kansas-favicon/favicon-144.png' %}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'pages/img/kansas-favicon/favicon-60.png' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'pages/img/kansas-favicon/favicon-120.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'pages/img/kansas-favicon/favicon-76.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'pages/img/kansas-favicon/favicon-152.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'pages/img/kansas-favicon/favicon-180.png' %}" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static 'pages/img/kansas-favicon/favicon-144.png' %}" />
    <meta name="msapplication-config" content="{% static 'pages/img/kansas-favicon/browserconfig.xml' %}" />
    <!-- ****** faviconit.com favicons ****** -->

    {% block stylesheets %}{% endblock %}
    <title>{% block title %}Henry Gridley{% endblock %}</title>
  </head>

  <body>
    <script>
      $(function() {
        var loc = window.location.pathname;
        if(/work/.test(loc)) {
          $('.work').addClass('active');
        } else if(/contact/.test(loc)) {
          $('.contact').addClass('active');
        } else {
          $('.home').addClass('active');
        }
      });
    </script>

    <div id="header">
      <a href="{% url 'home' %}">
        <img id="logo" src="{% static 'pages/img/HKG.png' %}" alt="HKG">
      </a>
      <span class="nav">
        <a class="home" href="{% url 'home' %}">Profile</a>  |
        <a class="work" href="{% url 'pages:work' %}">Work</a>  |
        <a class="contact" href="{% url 'contact' %}">Contact</a>
      </span>
      <hr>
    </div>

    <div id="content">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
