<!DOCTYPE html>
{% load static %}
<html lang="en">
  <head>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'pages/base.css' %}" />
    <title>{% block title %}Default title{% endblock %}</title>
  </head>

  <body>
    <script>
      $(function() {
        var loc = window.location.pathname;
        if(/work/.test(loc)) {
          $('#work').addClass('active');
        } else if(/projects\/[0-9]/.test(loc)) {
          $('#details').addClass('active');
        } else if(/projects/.test(loc)) {
          $('#projects').addClass('active');
        }
      });
    </script>

    <div id="navbar">
      <ul>
        <li id="home"><a href="{% url 'index' %}">Home</a></li>
        <li id="work"><a href="{% url 'pages:work' %}">Work</a></li>
        <li id="projects"><a href="{% url 'pages:projects' %}">Projects</a></li>
        <li id="about"><a href="{% url 'pages:aboutMe' %}">About Me</a></li>
        <li id="details"><a href="{% url 'pages:details' 7 %}">Site Details</a></li>
      </ul>
    </div>

    <div class="text">
      {% block content %}{% endblock %}
    </div>
  </body>
</html>
