{% extends "pages/base.html" %}
{% load static %}
{% block title %}Contact{% endblock %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/contact.css' %}?{% now "U" %}"/>
{% endblock %}

{% block content %}
  {% if messages %}
    {% for message in messages %}
      <div {% if message.tags %} class="{{ message.tags }}" {% endif %}>
        <p class="message">
          {{ message }}
        </p>
      </div>
    {% endfor %}
  {% endif %}
  <h1 id="contact" class="heading">Contact</h1>
  <form role="form" action="" method="post">
    {% csrf_token %}
    <div class="form">
      {{ form.as_p }}
    </div>
    <div class="wrapper">
      <button class="button" type="submit">Submit</button>
    </div>
  </form>
{% endblock %}
