{% extends "pages/base.html" %}
{% load mathfilters %}

{% block title %}{{ exppost.title }}{% endblock %}

{% block content %}
  <h1 id="project-title">{{ exppost.title }}</h1>

  <div id="project-position">
    {% if exppost.position %}
      {{ exppost.position }}<br>
    {% endif %}
  </div>

  <div id="project-dates">
    {{ exppost.start_date|date:"F Y" }} -
    {% if exppost.end_date %}
      {{ exppost.end_date|date:"F Y" }}<br>
    {% else %}
      Present<br>
    {% endif %}
  </div>

  <hr class="top-division">

  <p style="margin-bottom:45px">{{ exppost.description }}</p>

  <hr>
  <div id="photobanner">
    {% for image in exppost.image_set.all %}
      <div class="slide">
        <img id="myImg{{ image.id }}" src="{{ image.img.url }}"
              alt="{{ exppost.title }} image" style="width:{{ image.aspect_ratio|mul:256 }};height:256px">
      </div>
    {% endfor %}
  </div>
  <hr>

  <h2 id="heading">Updates</h2>
  {% for journal in exppost.journal_set.all|dictsortreversed:'pub_date' %}
    <em id="journal-title">{{ journal.title }}</em>
    <span id="journal-date">{{ journal.pub_date|date:"F d, Y" }}</span><br>

    {{ journal.text|linebreaks }}<br><br>
  {% endfor %}
{% endblock %}
