{% extends "pages/base.html" %}
{% load mathfilters static %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/details.css' %}?{% now "U" %}" />
{% endblock %}

{% block title %}{{ exppost.title }}{% endblock %}

{% block content %}
  <div id="top" class="top">
    <h1 class="heading">{{ exppost.title }}</h1>

    <div style="text-align:center;">
      {% if exppost.position %}
        {{ exppost.position }}<br>
      {% endif %}
    </div>

    <div style="text-align:center;">
      {{ exppost.start_date|date:"F Y" }} -
      {% if exppost.end_date %}
        {{ exppost.end_date|date:"F Y" }}
      {% else %}
        Present
      {% endif %}
    </div>

    <hr>

    <p>{{ exppost.description }}</p>
  </div>

  <div id="photobanner">
    {% for image in exppost.image_set.all %}
      <img id="myImg{{ image.id }}" src="{{ image.img.url }}"
            alt="{{ exppost.title }} image" style="width:{{ image.aspect_ratio|mul:256 }};height:256px">
    {% endfor %}
  </div>

  <div id="journal">
    <h2 class="heading">Updates</h2>
    {% if exppost.journal_set.all %}
      {% for journal in exppost.journal_set.all|dictsortreversed:'pub_date' %}
        <p>
          <em class="journaltitle">{{ journal.title }}</em>
          <span>{{ journal.pub_date|date:"F d, Y" }}</span>

          {{ journal.text|linebreaks }}
          <hr>
        </p>
      {% endfor %}
    {% else %}
      <p>You are all up to date! Come back later for more information.</p>
    {% endif %}
  </div>
{% endblock %}
