<!DOCTYPE html>
{% load static from staticfiles %}
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="This is a personal website designed and built
      using the Django framework by me, Henry Gridley, to showcase my portfolio.
      Check out my resume, my projects and work experiences, or send me an email
      if you want to contact me!">
    <meta name="author" content="Henry Gridley">
    <meta name="keywords" content="Henry,Gridley,Henry Gridley,portfolio" />
    <meta name="google-site-verification" content="fnHR_v2ZfPu3ExHjFlaG6yiA8NsLJAy3nx6-FwiaxoU" />
    <meta name="robots" content="index,follow" />

    <!-- ****** faviconit.com favicons ****** -->
    <!-- Icon is 'Kansas' by anbileru adaleru from the Noun Project -->
    <link rel="shortcut icon" href="{% static 'pages/img/kansas-favicon/favicon.ico' %}" />
    <link rel="icon" sizes="16x16 32x32 64x64" href="{% static 'pages/img/kansas-favicon/favicon.ico' %}" />
    <link rel="icon" type="image/png" sizes="196x196" href="{% static 'pages/img/kansas-favicon/favicon-192.png' %}" />
    <link rel="icon" type="image/png" sizes="160x160" href="{% static 'pages/img/kansas-favicon/favicon-160.png' %}" />
    <link rel="icon" type="image/png" sizes="96x96" href="{% static 'pages/img/kansas-favicon/favicon-96.png' %}" />
    <link rel="icon" type="image/png" sizes="64x64" href="{% static 'pages/img/kansas-favicon/favicon-64.png' %}" />
    <link rel="icon" type="image/png" sizes="32x32" href="{% static 'pages/img/kansas-favicon/favicon-32.png' %}" />
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'pages/img/kansas-favicon/favicon-16.png' %}" />
    <link rel="apple-touch-icon" href="{% static 'pages/img/kansas-favicon/favicon-57.png' %}" />
    <link rel="apple-touch-icon" sizes="114x114" href="{% static 'pages/img/kansas-favicon/favicon-114.png' %}" />
    <link rel="apple-touch-icon" sizes="72x72" href="{% static 'pages/img/kansas-favicon/favicon-72.png' %}" />
    <link rel="apple-touch-icon" sizes="144x144" href="{% static 'pages/img/kansas-favicon/favicon-144.png' %}" />
    <link rel="apple-touch-icon" sizes="60x60" href="{% static 'pages/img/kansas-favicon/favicon-60.png' %}" />
    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'pages/img/kansas-favicon/favicon-120.png' %}" />
    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'pages/img/kansas-favicon/favicon-76.png' %}" />
    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'pages/img/kansas-favicon/favicon-152.png' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static 'pages/img/kansas-favicon/favicon-180.png' %}" />
    <meta name="msapplication-TileColor" content="#FFFFFF" />
    <meta name="msapplication-TileImage" content="{% static 'pages/img/kansas-favicon/favicon-144.png' %}" />
    <meta name="msapplication-config" content="{% static 'pages/img/kansas-favicon/browserconfig.xml' %}" />
    <!-- ****** faviconit.com favicons ****** -->

    <title>Henry Gridley</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'grayscale/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="{% static 'grayscale/vendor/font-awesome/css/font-awesome.min.css' %}" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Lora:400,700,400italic,700italic" rel="stylesheet" type="text/css">
    <link href='https://fonts.googleapis.com/css?family=Cabin:700' rel='stylesheet' type='text/css'>

    <!-- Custom styles for this template -->
    <link href="{% static 'grayscale/css/grayscale.min.css' %}" rel="stylesheet">
    <link href="{% static 'pages/css/home.min.css' %}" rel="stylesheet" type="text/css">

  </head>

  <body id="page-top">

    <!-- Navigation -->
    <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
        <a class="navbar-brand" href="#page-top">Henry Gridley</a>
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            Menu <i class="fa fa-bars"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="nav-link" href="#about">About</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#work">Work</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#contact">Contact</a>
            </li>
          </ul>
        </div>
    </nav>

    <!-- Intro Header -->
    <header class="masthead">
        <div class="intro-body">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h1 class="brand-heading">Henry</h1>
                        <p class="intro-text">
                          Engineer with a passion for creating cool things.
                        </p>
                        <a href="#about" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- About Section -->
    <section id="about"class="content-section text-center about">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>About Me</h2>
                    {{ author.bio|linebreaks }}
                </div>
            </div>
        </div>
    </section>

    <!-- Work Section -->
    <section id="work" class="download-section content-section text-center">
        <div class="container">
            <div class="col-lg-8 mx-auto">
                <h2 style="color: black">My Work</h2>
                <p style="color: black">You can read about all of my work experiences and personal projects here.</p>
                <a href="{% url 'pages:work' %}" class="btn btn-default btn-lg">Visit Work Page</a>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="content-section text-center">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 mx-auto">
                    <h2>Contact Me</h2>
                    <p>Feel free to check out my Linkedin, Github, or resume to see what I've been up to, or send me an email to get in touch!</p>
                    <ul class="list-inline banner-social-buttons">
                        <li class="list-inline-item">
                            <a href="https://www.linkedin.com/pub/henry-gridley/111/a22/991" class="btn btn-default btn-lg"><i class="fa fa-linkedin fa-fw"></i> <span class="network-name">LinkedIn</span></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="https://github.com/mcgridles" class="btn btn-default btn-lg"><i class="fa fa-github fa-fw"></i> <span class="network-name">Github</span></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{% static 'pages/files/HKG_Resume_website.pdf' %}" class="btn btn-default btn-lg"><i class="fa fa-file-text-o fa-fw"></i> <span class="network-name">Resume</span></a>
                        </li>
                        <li class="list-inline-item">
                            <a href="{% url 'contact' %}" class="btn btn-default btn-lg"><i class="fa fa-envelope-open-o fa-fw"></i> <span class="network-name">Email</span></a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>

    <!-- Footer -->
    <footer>
        <div class="container text-center">
            <p>Copyright &copy; Henry Gridley 2017</p>
        </div>
    </footer>

    <!-- Bootstrap core JavaScript -->
    <script src="{% static 'grayscale/vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'grayscale/vendor/popper/popper.min.js' %}"></script>
    <script src="{% static 'grayscale/vendor/bootstrap/js/bootstrap.min.js' %}"></script>

    <!-- Plugin JavaScript -->
    <script src="{% static 'grayscale/vendor/jquery-easing/jquery.easing.min.js' %}"></script>

    <!-- Custom scripts for this template -->
    <script src="{% static 'grayscale/js/grayscale.min.js' %}"></script>

    <!-- Google Analytics script -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-101015773-1', 'auto');
      ga('send', 'pageview');
    </script>

    <script>

  </body>

</html>
