<!-- aboutMe.html -->
{% extends "pages/base.html" %}
{% load mathfilters static %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/homepage.css' %}?{% now "U" %}" />
{% endblock %}

{% block title %}Henry{% endblock %}

{% block content %}
  <div id="bio">
    <p>
      <strong class="section">About</strong>
      {{ author.bio|linebreaks }}
    </p>
    <div class="wrapper">
      <a href="{% static 'pages/files/HKG_Resume.pdf' %}" class="button">Resume</a><br>
      <a class="github" href="https://github.com/mcgridles">
        <img src="{% static 'pages/img/GitHub-Mark-32px.png' %}"
             width="32"
             height="32"
             border="0"
             alt="View Henry Gridley's profile on GitHub">
      </a><br>
      <a class="linkedin" href="https://www.linkedin.com/pub/henry-gridley/111/a22/991">
        <img src="https://static.licdn.com/scds/common/u/img/webpromo/btn_profile_greytxt_80x15.png"
             width="80"
             height="15"
             border="0"
             alt="View Henry Gridley's profile on LinkedIn">
      </a>
    </div>
  </div>

  <img id="profile" src="{{ author.picture.url }}"
        alt="{{ author.name }}" style="width:{{ author.aspect_ratio|mul:400 }};height:400px">
{% endblock %}
