<!-- aboutMe.html -->
{% extends "pages/base.html" %}
{% load mathfilters static %}
{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/homepage.css' %}" />
{% endblock %}

{% block title %}Henry{% endblock %}

{% block content %}
  <div id="bio">
    {{ author.bio|linebreaks }}
    <div class="wrapper">
      <div class="circle">
        <a class="github" href="https://github.com/mcgridles">
          <img src="{% static 'pages/img/GitHub-Mark-120px-plus.png' %}"
               width="64"
               height="64"
               border="0"
               alt="View Henry Gridley's profile on GitHub">
        </a>
      </div>
      <div class="circle">
        <a class="resume" href="{% static 'pages/files/HKG_Resume.pdf' %}">
          <img src="{% static 'pages/img/cv-button.png' %}"
               width="64"
               height="64"
               border="0"
               alt="View Henry Gridley's resume">
        </a>
      </div>
      <div class="circle">
        <a class="linkedin" href="https://www.linkedin.com/pub/henry-gridley/111/a22/991">
          <img src="{% static 'pages/img/linkedin_512px.png' %}"
               width="64"
               height="64"
               border="0"
               alt="View Henry Gridley's profile on LinkedIn">
        </a>
      </div>
    </div>
  </div>

  <img id="profile" src="{{ author.picture.url }}"
        alt="{{ author.name }}" style="width:{{ author.aspect_ratio|mul:450 }};height:450px">
{% endblock %}
