<!-- projects.html -->
{% extends "pages/base.html" %}
{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/list_view.css' %}?{% now "U" %}" />
{% endblock %}

{% block title %}Projects{% endblock %}

{% block content %}
  {% if project_list %}
  <main class="container">
    {% for project in project_list %}
      <div class="list">
        <h2><a href="{% url 'pages:project_details' project.id %}">{{ project.title }}</a></h2>
      </div>
    {% endfor %}
  </main>
  {% else %}
    <p class="404">No posts were found.</p>
  {% endif %}
{% endblock %}
