<!-- projects.html -->
{% extends "pages/base.html" %}

{% block title %}Projects{% endblock %}

{% block content %}
  {% if project_list %}
    {% for project in project_list %}
      <h2><a href="{% url 'pages:project_details' project.id %}">{{ project.title }}</a></h2>

      {{ project.start_date|date:"M Y" }} -
      {% if project.end_date %}
        {{ project.end_date|date:"M Y" }}<br>
      {% else %}
        Present<br>
      {% endif %}

      {{ project.description|truncatechars:500|linebreaks }}

    {% endfor %}
  {% else %}
    No projects were found.
  {% endif %}
{% endblock %}
