<!-- work.html -->
{% extends "pages/base.html" %}
{% load static %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/list_view.css' %}" />
{% endblock %}

{% block title %}{{ block.super }} - Work{% endblock %}

{% block content %}
  {% if post_list %}
  <main class="container">
    {% for post in post_list %}
      <div class="list">
        <a href="{% url 'pages:post_details' post.id %}">
          <img class="marquee" src="{{ post.marquee.url }}">
          <span class=img_description>{{ post.title }}</span>
        </a>
      </div>
    {% endfor %}
  </main>
  {% else %}
    <p class="404">No posts were found.</p>
  {% endif %}
{% endblock %}
