<!-- work.html -->
{% extends "pages/base-min.html" %}
{% load static from staticfiles %}

{% block stylesheets %}
  <link rel="stylesheet" type="text/css" href="{% static 'pages/css/list_view-min.css' %}" />
{% endblock %}

{% block title %}{{ block.super }} - Work{% endblock %}

{% block content %}
  {% if post_list %}
  <div class="container">
    <div class="block">
      {% for post in post_list %}
        <div class="list">
          <a href="{% url 'pages:details' post.id %}">
            <img class="marquee" src="{{ post.marquee.url }}">
            <span class=img_description>{{ post.title }}</span>
          </a>
        </div>
      {% endfor %}
    </div>
  </main>
  {% else %}
    <p class="not-found">No posts were found.</p>
  {% endif %}
{% endblock %}
