<!-- work.html -->
{% extends "pages/base.html" %}
{% load static from staticfiles %}

{% block stylesheets %}
  <link href="{% static 'columns/vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
  <link href="{% static 'pages/css/writing.min.css' %}" rel="stylesheet" type="text/css">
{% endblock %}

{% block title %}{{ block.super }}{% endblock %}

{% block content %}
  <div class="container">
    <h1 class="my-4 block heading">Writing Portfolio</h1>

    <ul class="nav nav-tabs">
      <li><h5><a href="#refl" data-toggle="tab">Reflection</a></h5></li>
      <li><h5><a href="#sc" data-toggle="tab">Showcase</a></h5></li>
      <li><h5><a href="#sm" data-toggle="tab">Supporting Material</a></h5></li>
    </ul>

    <div class="tab-content">
      <!-- Reflection -->
      <div id="intro" class="tab-pane fade show active">
          <h5>
          Welcome to my writing portfolio. This is a showcase of the writing I have done for ENGW 3302 at Northeastern University, as well as some supporting materials. Click the links to check out my work.
          </h5>
      </div>
      <div id="refl" class="tab-pane fade">
        <h3><a href="https://s3.us-east-2.amazonaws.com/hkg-website-assets/static/pages/files/HenryG.Unit5FinalDraft.pdf">Course Reflection</a></h3>
      </div>

      <!-- Showcase -->
      <div id="sc" class="tab-pane fade">
        <a href="https://s3.us-east-2.amazonaws.com/hkg-website-assets/static/pages/files/HenryG.Unit1FinalDraft.pdf"><h3 style="display:inline">Making Deep Learning Accessible</h3><h5>Unit 1</h5></a>
        <a href="https://s3.us-east-2.amazonaws.com/hkg-website-assets/static/pages/files/HenryG.Unit2FinalDraft.pdf"><h3 style="display:inline">Excerpt from the Northeastern University Swim Club Handbook</h3><h5>Unit 2</h5></a>
        <a href="https://s3.us-east-2.amazonaws.com/hkg-website-assets/static/pages/files/HenryG.Unit3FinalDraft.pdf"><h3 style="display:inline">The History of the Self-Driving Car</h3><h5>Unit 3</h5></a>
        <a href="https://s3.us-east-2.amazonaws.com/hkg-website-assets/static/pages/files/HenryG.Unit4FinalDraft.pdf"><h3 style="display:inline">AI in Human Motion Analysis</h3><h5>Unit 4</h5></a>
      </div>

      <!-- Supporting Material -->
      <div id="sm" class="tab-pane fade">
        <a href="https://s3.us-east-2.amazonaws.com/hkg-website-assets/static/pages/files/DeepLearning.pdf"><h3 style="display:inline">Deep Learning</h3><h5>Yann LeCun, Yoshua Bengio, and Geoffrey Hinton</h5></a>
        <a href="https://s3.us-east-2.amazonaws.com/hkg-website-assets/static/pages/files/RevUnit1.docx"><h3 style="display:inline">Unit 1 Revision</h3><h5>Michael Fialkoff</h5></a>
        <a href="https://s3.us-east-2.amazonaws.com/hkg-website-assets/static/pages/files/ikeabed.pdf"><h3 style="display:inline">Ikea Bed Instructions</h3><h5>Ikea</h5></a>
        <a href="https://www.wired.com/brandlab/2016/03/a-brief-history-of-autonomous-vehicle-technology/"><h3 style="display:inline">A Brief History of Autonomous Vehicle Technology</h3><h5>Wired</h5></a>
        <a href="https://s3.us-east-2.amazonaws.com/hkg-website-assets/static/pages/files/RevUnit4.docx"><h3 style="display:inline">Unit 4 Revision</h3><h5>Julia Piraino</h5></a>
      </div>
    </div>

  </div>
{% endblock %}

{% block scripts %}
<!-- Bootstrap core JavaScript -->
  <script src="{% static 'columns/vendor/jquery/jquery.min.js' %}"></script>
  <script src="{% static 'columns/vendor/popper/popper.min.js' %}"></script>
  <script src="{% static 'columns/vendor/bootstrap/js/bootstrap.min.js' %}"></script>
{% endblock %}
