*{box-sizing:border-box;}
body{background:#FFFFFF;font-family:'Playfair Display', serif;font-size:1em;}
#header{text-align:center;}
#logo{display:block;height:110px;margin:20px auto;width:200px;}
h1{font-family:'Raleway', sans-serif;font-size:4em;margin:30px auto 0;}
.heading{color:#91A8D0;text-align:center;}
h2{font-family:'Raleway', sans-serif;font-size:2em;margin-top:35px;}
hr{border:0;border-top:1px solid #bfc0c1;display:block;height:1px;margin:40px auto;max-width:800px;padding:0;}
p{display:block;line-height:120%;margin:0 auto;margin-bottom:25px;max-width:900px;}
em,
strong{font-family:'Raleway', sans-serif;}
a{text-decoration:none;}
a:not(.active){transition:color .1s ease-in;}
a.home:link,
a.work:link,
a.contact:link,
a.home:visited,
a.work:visited,
a.contact:visited{color:#91A8D0;}
a.home:hover,
a.work:hover,
a.contact:hover{color:#F7CAC9;}
a:link,
a:visited,
a:hover{color:black;}
span.nav{font-weight:bold;}
#footer{bottom:15px;color:grey;opacity:0.2;position:relative;left:85%;}
#header a.active{color:lightgrey;}
[class*="col-"]{width:100%;}
@media only screen and (min-width:768px){.col-1{width:8.33%;}
.col-2{width:16.66%;}
.col-3{width:25%;}
.col-4{width:33.33%;}
.col-5{width:41.66%;}
.col-6{width:50%;}
.col-7{width:58.33%;}
.col-8{width:66.66%;}
.col-9{width:75%;}
.col-10{width:83.33%;}
.col-11{width:91.66%;}
.col-12{width:100%;}
}
.row::after{content:"";clear:both;display:table;}