body {
  background: #FFFFFF;
  font-family: "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva,
                Verdana, sans-serif;
  font-size: 1em;
}

#header {
  text-align: center;
}

#logo {
  display: block;
  height: 110px;
  margin: 20px auto;
  width: 200px;
}

h1 {
  font-size: 4em;
  margin: 30px auto;
}

h2 {
  font-size: 2em;
  margin-top: 35px;
}

hr {
  border: 0;
  border-top: 1px solid #bfc0c1;
  display: block;
  height: 1px;
  margin: 40px auto;
  max-width: 800px;
  padding: 0;
}

p {
  display: block;
  line-height: 200%;
  margin: 0 auto;
  margin-bottom: 25px;
  max-width: 1000px;
}

a {
  text-decoration: none;
}

a:not(.active) {
  transition: color .1s ease-in;
}

a:link:not(#home) {
  color: #91A8D0;
}

a:visited:not(#home) {
  color: #91A8D0;
}

a:hover:not(#home) {
  color: #F7CAC9;
}

a:link {
  color: black;
}

a:visited {
  color: black;
}

a:hover {
  color: black;
}

span.nav {
  font-weight: bold;
}

#footer {
  bottom: 15px;
  color: grey;
  opacity: 0.2;
  position: relative;
  left: 85%;
}

#header a.active {
  color: lightgrey;
}
