* {
    box-sizing: border-box;
}

body {
  background: #FFFFFF;
  font-family: Lora,'Helvetica Neue',Helvetica,Arial,sans-serif;
}

#mainNav {
    font-family: Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;
    margin-bottom: 0;
    text-transform: uppercase;
    border-bottom: 1px solid rgba(255,255,255,.3);
    background-color: #000;
}

#mainNav .navbar-brand {
    font-weight: 700;
}

#mainNav a {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Cabin,'Helvetica Neue',Helvetica,Arial,sans-serif;
  font-weight: 700;
  margin: 0 0 35px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.bg-dark {
  background-color: #000!important;
}

#mainNav .navbar-toggler {
    font-size: 14px;
    padding: 11px;
    color: #fff;
    border: 1px solid #fff;
}

footer {
  font-size: 14px;
  padding-top: 50px!important;
  padding-bottom: 50px!important;
}
