.my-4 {
  margin-bottom: 0px!important;
}

.workdate {
  margin-bottom: 1.5rem;
}

#main-img {
  max-height: 500px;
}

.img-heading {
  margin-bottom: 1rem!important;
}

.imgs {
  flex-wrap: nowrap;
  overflow: scroll;
}

.img {
  padding-left: 15px;
  padding-right: 15px;
}

.gallery {
  cursor: pointer;
  max-height: 150px;
}
