body.modal-open {
  overflow: hidden;
}

#top p {
  font-family: 'Playfair Display', serif;
  font-size: 1em;
  margin-bottom: 35px;
}

span.workdate {
  font-family: 'Raleway', sans-serif;
}

img:not(#logo) {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
}

em.journaltitle {
  font-size: 1.75em;
  font-weight: bold;
}

span.date {
  float: right;
}

hr.divide {
  max-width: 500px;
}

a.prev:not(.active),
a.next:not(.active) {
  transition: none;
}

/* Image banner */
.row {
  cursor: pointer;
  padding: 10px 0px;
  margin-left: 0px;
  margin-right: 0px;
  overflow: scroll;
  text-align: center;
  white-space:nowrap;
  width: 100%;
}

.column {
  margin-right: 5px;
}

/* The Modal (background) */
.modal {
  background-color: black;
  display: none;
  height: 100%;
  left: 0;
  overflow: auto;
  padding-top: 60px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
}

/* Modal Content (Image) */
.modal-content {
  margin: 0 auto 75px;
  max-width: 1200px;
  position: relative;
  vertical-align: middle;
  width: 90%;
}

.close {
  color: white;
  font-size: 35px;
  font-weight: bold;
  position: absolute;
  right: 25px;
  top: 10px;
}

.close:hover,
.close:focus {
  color: #F7CAC9;
  cursor: pointer;
  text-decoration: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

a.prev:link,
a.prev:visited,
a.next:link,
a.next:visited {
  color: white;
}

.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.mySlides {
  display: none;
  margin: 0 auto;
  width: 100%;
}

.caption-container {
  text-align: center;
  background-color: black;
  padding: 2px 16px;
  color: white;
}
