.my-4 {
  margin-bottom: 0px!important;
}

.workdate {
  margin-bottom: 1.5rem;
}

/* aspect ratio: 0.6 */
#main-img {
  max-height: 500px;
}

.img-heading {
  margin-bottom: 1rem!important;
}

.imgs {
  flex-wrap: nowrap;
  overflow: scroll;
  padding-left: 5px;
}

.img {
  padding-left: 10px;
  padding-right: 10px;
}

.gallery {
  cursor: pointer;
  max-height: 150px;
}
