ul.skills {
  list-style-type: none;
}

.section {
  font-size: 1.5em;
}

#profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 0
}

@media screen and (min-width:749px) {
  #profile {
    left: 15%;
    position: relative;
  }

  div #bio {
    display: inline;
    height: 400px;
    left: 620px;
    max-width: 40%;
    overflow: auto;
    position: absolute;
  }
}

@media screen and (max-width:750px) {
  #profile {
    display: block;
    margin: auto;
  }

  div #bio {
    display: block;
    text-align: center;
  }
}

.wrapper {
  margin-top: 30px;
  text-align: center;
}

.button {
  background: none;
  display: inline-block;
  height: 64px;
  margin: 0px 30px 10px;
  width: 64px;
}

.shadow {
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -webkit-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    -moz-box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.github,
.resume,
.linkedin {
  cursor: pointer;
  margin: 0;
}
