ul.skills {
  list-style-type: none;
}

.section {
  font-size: 1.5em;
}

#profile {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  z-index: 0
}

@media screen and (min-width:749px) {
  #profile {
    left: 13%;
    position: relative;
  }

  div #bio {
    display: inline;
    height: 400px;
    left: 620px;
    max-width: 40%;
    overflow: scroll;
    position: absolute;
  }
}

@media screen and (max-width:750px) {
  #profile {
    display: block;
    margin: auto;
  }

  div #bio {
    display: block;
    text-align: center;
  }
}

.button {
    background-color: #91A8D0;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 0;
    cursor: pointer;
}

.button:hover {
  background-color: #F7CAC9;
}
